.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
}

.header h1 {
    font-size: 40px;
    color: #0a1364;
}

.btn_form {
    width: 170px;
    height: 40px;
    background-color: #555a88;
    border-color: 1px #3a3e5e solid;
    border-radius: 5px;
    border: none;
    color: aliceblue;
}
